extends layout

block content
  h2 Add New Project
  form(action='/projects', method='POST')
    div
      label(for='name') Name:
      input#name(type='text', name='name', required)
    div
      label(for='description') Description:
      textarea#description(name='description')
    button(type='submit') Add Project

